<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfCookieSessionStoragePlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Cookie-based session storage plugin</summary>
  <description>`sfCookieSessionStoragePlugin` is a cookie-based session storage plugin for the symfony framework. Using this storage, the session data is directly stored in a cookie, only on the client side (no persistent session on the server side).

This removes the need for a shared session storage in a load-balanced platform, since a request from the user also carries the session data. As compared with other solutions for load-balanced session (database or memcache storage), cookie-based session storage is easier to install, and much faster.</description>
  <lead>
    <name>Francois Zaninotto</name>
    <user>Francois Zaninotto</user>
    <email>fzaninotto@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.4.0</max>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.9.1</release>
        <api>0.9.1</api>
      </version>
      <stability>
       <release>beta</release>
       <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2010-04-20</date>
      <license>MIT</license>
      <notes>
        * Refactored the storage into three classes for better flexibility
      </notes>
    </release>
    <release>
      <version>
        <release>0.9.0</release>
        <api>0.9.0</api>
      </version>
      <stability>
       <release>beta</release>
       <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2010-04-19</date>
      <license>MIT</license>
      <notes>
        * Initial version
      </notes>
    </release>
  </changelog>
</package>